.icon {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .text-primary {
    color: #007bff;
  }
  
  .text-danger {
    color: #dc3545;
  }
  
  .text-warning {
    color: #ffc107;
  }
  